        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
       

        body,
        header,
  
        main,
        aside,
        footer {
            display: flex;
            margin: 3px;
          
        }

        body {
       
            flex: 1 1 100vw;
            flex-wrap: wrap;
        }

        header {
            height: 50px;
            flex: 1 1 100vw;
            background-color: aquamarine;
            margin-bottom: 13px;
        }
        header #logo{
            flex: 0 1 200px;
            align-items: center;
            justify-content: center;
            display: flex;
        }

        nav {
       
           width: 80vw;
           display: flex;
           justify-content: flex-end;
           align-items: center;
           
        }
       

        main {
            height: calc(100vh - 124px);
            flex: 20 1 330px;
            background-color: brown;
            overflow: auto;
        }
        main section{
            width: 100%;
            height: 2000px;
            margin: 10px;
            background: linear-gradient(rgb(234, 203, 203) ,rgb(255, 255, 255), rgb(52, 12, 211));
        }

        aside {
            display: flex;
            justify-content: center;
            flex: 1 1 90px;
            background-color: cadetblue;
        }

        footer {
            height: 40px;
            flex: 1 1 100vw;
            background-color: darkgoldenrod;
        }

        @media only screen and (max-width: 935px) {
            header{
                order: 0;
            }
            margin {
                height: calc(100vh - 330px);
                order:1 ;
            }

            aside {
                flex: 1 1 100vw;
                height: 100px;
                order: 2;
            }
            footer{
                order: 3;
            }
        }

       nav a{
            text-decoration: none;
            color: black;
            padding: 22px;
            font-size: 24px;
            
          
        }
        #abrirMenu, #fechaMenu{
            border: none;
            background: none;
            font-size: 30px;
            font-weight: bold;
            padding: 0px 5px 0px 0px ;
            cursor: pointer;
            display: none;
        }
        @media only screen and (max-width: 745px) {
            #abrirMenu, #fechaMenu{
                display: block;
            }
            
            #abrirMenu{
                margin-left: auto;
            }

            #fechaMenu{
                position: fixed;
                right: 15px;
                top: 15px;
            }
            nav{
                position: fixed;
                flex-direction: column;
                width: 100vw;
                height: 100vh;
                align-items: center;
                justify-content: center;
                margin: 0;
                display: none;
                opacity: 0;
                transition: 0.5s;
            }
        }